<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Campeonato</title>
    <link rel="stylesheet" th:href="@{/css/crearcampeonato.css}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center text-light">Crear Nuevo Campeonato</h1>
    <form id="crear-campeonato" class="bg-dark p-4 rounded">
        <div class="form-group">
            <label for="nombre" class="text-light">Nombre:</label>
            <input type="text" id="nombre" class="form-control" required>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" id="formato" class="form-check-input">
            <label for="formato" class="form-check-label text-light">Formato (Ida y vuelta)</label>
        </div>
        <div class="form-group">
            <label for="fechaInicio" class="text-light">Fecha de Inicio:</label>
            <input type="date" id="fechaInicio" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="foto" class="text-light">Foto:</label>
            <input type="text" id="foto" class="form-control">
        </div>
        <div class="form-group">
            <label for="pais" class="text-light">País:</label>
            <input type="text" id="pais" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="equipos" class="text-light">Equipos:</label>
            <select id="equipos" class="form-control" multiple required>
                <option th:each="equipo : ${equipos}" th:value="${equipo.equipoId}" th:text="${equipo.nombre}"></option>
            </select>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-warning btn-block" onclick="submitCampeonato(event)">Crear Campeonato</button>
            <input type="reset" onclick="resetForm()" value="Limpiar" class="btn btn-light btn-block">
        </div>
    </form>
</div>
<script th:src="@{/js/crear-campeonato.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
