<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label>Email: <input type="text" name="gmail"/></label></div>
    <div><label>Password: <input type="password" name="contrasena"/></label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>


<script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Evitar que se envíe el formulario automáticamente

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        // Construir objeto para enviar como JSON
        const formData = [{
            username: username,
            password: password
        }];

        // Realizar la petición POST con fetch
        fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // Manejar la respuesta del backend, redireccionar o mostrar mensaje de éxito
            console.log('Login successful:', data);
            window.location.href = '/admin'; // Redireccionar al usuario a la página de admin
        })
        .catch(error => {
            console.error('Error during login:', error);
            alert('Invalid username or password. Please try again.'); // Mostrar mensaje de error al usuario
        });
    });
</script>
</body>
</html>
